.Drawercomp2-wrapper{
   width:100%;

   position:fixed;
   /* margin-top:490px; */
   top:7.5%;
   /* z-index: 10; */
   left:40%
 
  /* background-color: red; */
}




.Drawercomp {
   /* position:absolute; */
    display:flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* z-index: 1; */
    
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    /* margin-left: 100px; */
    border-top: 2px solid rgb(215, 205, 181);
    /* border-bottom: 1px solid rgb(134, 131, 128); */
   
   
  
    


}



.dropleft {
   /* left:100%; */
} 

.Drawercomp a{

   /* position: absolute; */
   z-index: 25;
   
   background-color:rgb(255, 255, 255,0.8);
   width:65%;
   text-align: left;
   padding:20px;
   /* margin:1px; */
   color: var(--color-bg-light);
   border-bottom : solid .5px rgb(166, 153, 153);
   font-size: 16px;



}

.Drawercomp a:hover{

    /* color: var(--color-black);
    border-bottom: solid 3px rgb(215, 205, 181);
    font-size:1.2rem;
    background: rgb(196, 192, 192,0.2) ; */
    align-items:none;
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
    
   

 
 
 
 }

 .Drawercomp #Estimate_button {
     
    background-color: rgb(215, 205, 181) ;
    /* padding:1rem ; */
    /* font-size:1.2rem; */
    width:65%;
    display: inline-block;
    color: var(--color-black);
    padding: 0.75rem 1rem;
    /* border-radius: 0.4rem; */
    cursor: pointer;
    border: 1px solid rgb(68, 66, 66);
    transition: var(--transition);
  /* margin: 0 auto; */
  align-items: center;

   }

   .Drawercomp #Estimate_button:hover{
     
    background-color: rgb(196, 192, 192,0.2)  ;
    }