

.item-wrapper{

height:100vh;
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
/* gap:10px; */
margin-top:80px;
/* flex-wrap: wrap; */
padding:10px;

}

.design_image2 {
    
    height:100%;
   width:100%;
   /* margin-top: 8px; */
  
  

} 



.design-items2{
    /* padding:1rem; 
   background:var(--color-bg-variant); */
   width:100%;
   position:relative;
   
   height:100%;
   box-shadow:  10px 10px 9px 0px rgba(0,0,0,0.15);
   /* box-shadow:  10px -11px 16px 0px rgba(201,195,201,1); */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   border-radius: 4px;

 

   
} 



.design_title2{
    /* background: red; */

    position:absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    text-align: left;
    width:100%;
    /* padding-left: 1.2rem; */
    height:10%;
    /* margin-bottom: 16px; */
    margin-top: -10px;
   

   

}

.design_title2 > h2{
   font-size: 1.1rem;
   font-weight:bold;
    /* color:var( --color-light); */
    color:white;
    margin-top:8px;
    

}

.design_title2 h5{
    font-size: .5rem;
    /* color:var( --color-light) */
    color:white;
    
   
     
 
 }

.design_content2 {

  
    
    display: flex;
    flex-direction: column;
 
   
    align-items: center;
    justify-content: center;
    align-content: center;


   
}

.design_content_text2{
    /* position: absolute; */

    display: flex;
    align-items: center;

    font-size: 0.75rem;
    background: none;
    float:right;
    right: 10px;
    /* padding-left: 5rem; */
    padding-right: 0;
    transition: var(--transition);
    /* color:var(--color-light) */
  
   
}

.design_content_text2:hover{

  
   
   color:var(--color-black);
   font-weight: 600;
  
   
}



.design_content2_icon{
    font-size: .75rem;
    padding: 0;
     width:min-content}


     
 
 