
#design{
    margin-top: 0;
    height: 100vh;
    margin-bottom: 100px;
    font-size: 12px;
    position: relative;


  
}

.title_design_block{

    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-top: 50px;
  
    text-align: center;
    
    
}



.App {
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 95%;
    width:95%;
    margin:0 auto;
   
    
  }
  .section_design_title{
    margin-top:5px;
    font-size: 1.25rem;
    color:grey;
   
  }

  .section_design_content{
    font-size: .85rem;
   
  }

  /* .section_design_content{
    font-size: 1rem;
   
  } */

  .design-items{
    padding:1rem; 
   background:var(--color-bg-variant);
   width:100%;
   
   height:90%;
   box-shadow:  10px 10px 9px 0px rgba(0,0,0,0.15);
   /* box-shadow:  10px -11px 16px 0px rgba(201,195,201,1); */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   border-radius: 1%;

 

   
} 

.design_image {
    
     height:500px;
    width:100%;
    /* margin-top: -12px; */
   
   

} 

.design_title{
    /* background: red; */
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    text-align: left;
    width:100%;
    /* padding-left: 1.2rem; */
    height:10%;
    margin-bottom: 16px;
   

}

.design_title > h2{
   font-size: 1.1rem;
   font-weight:bold;
    color:var( --color-light);
    margin-top:8px;
    

}

.design_title h5{
    font-size: .5rem;
    color:var( --color-light)
    
   
     
 
 }

.design_content {

  
    
    display: flex;
    flex-direction: column;
 
   
    align-items: center;
    justify-content: center;
    align-content: center;


   
}

.design_content_text{
    /* position: absolute; */

    display: flex;
    align-items: center;

    font-size: 0.75rem;
    background: none;
    float:right;
    right: 10px;
    /* padding-left: 5rem; */
    padding-right: 0;
    transition: var(--transition);
    color:var(--color-light)
  
   
}

.design_content_text:hover{

  
   
   color:var(--color-black);
   font-weight: 600;
  
   
}



.design_content_icon{
    font-size: .75rem;
    padding: 0;
     width:min-content}


     .Experiment_tag {
        position: absolute;
        top:400px;
        z-index:2;
        margin-top:-10px;
     }
 
 
   
/* 
     #design > div.App > div > div.sc-iBYQkv.jtKTCe.rec.rec-pagination{

        width:fit-content;
        /* width:50px; */
        opacity: 0.3;
        align-items: center;

     }

     #design > div.App > div > div.sc-iBYQkv.jtKTCe.rec.rec-pagination > button{
        width:5px;
        height:5px;
     }

     #design > div.App > div > div.sc-iBYQkv.jtKTCe.rec.rec-pagination


.rec-dot_active {
    background-color: var( --color-light) !important;
    box-shadow: 0 0 1px 3px var( --color-light) !important;
}

.rec-dot:focus,
.rec-dot:hover {
    box-shadow: 0 0 1px 3px var(--color-black) !important;
}
.rec-dot_active:focus,
.rec-dot_active:hover {
    background-color: var(--color-black) !important;
    box-shadow: 0 0 1px 3px var(--color-black) !important;
}

.rec-arrow {
    
    background-color: var(--blue) !important;
    transition: all 0.3s ease;
    font-size: 1.1rem !important;
    color: var( --color-light) !important;
    width: 1.7rem !important;
    height: 1.7rem !important;
    min-width: 1.7rem !important;
    line-height: 1.7rem !important;
   
}

.rec-arrow:hover:not(:disabled) {
    transform: scale(1.2);
} */






  /*======== MEDIA QUERIES =======*/


  @media  screen and (min-width:600px) {

    #design{
       
        font-size: 16px;
    
    
      
    }

    .App{
        height:100vh;
        margin-top: 100px;

     }

     .title_design_block{

       padding-top: 100px;
       
    }


  }
  
  @media screen and (min-width:992px){

    #design{
       
        font-size: 18px;
    
    
      
    }
  
 .App{
    height:100vh;
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .title_design_block{

    display: flex;
    flex-direction: column;
    /* gap:.5rem; */
    justify-content: center;
    align-items: center;
   
}







.design-items{
     padding:1rem; 
    background:var(--color-bg-variant);
    width:90%;
    
    height:90%;
    box-shadow:  10px 10px 9px 0px rgba(0,0,0,0.15);
    /* box-shadow:  10px -11px 16px 0px rgba(201,195,201,1); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 1%;

  

    
} 

.design_image {
    /* padding:1rem; */

    

    /* margin:16px auto 16px; */

    height:80%;
    width:95%;
   

}

.design_title{
    /* background: red; */
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    width:100%;
    padding-left: 1.2rem;
    height:10%;
    margin-bottom: 16px;
   

}

.design_title h2{
   font-size: 20px;
   font-weight:bold;
    color:var( --color-light)
    

}

.design_title h5{
    font-size: 16px;
    color:var( --color-light)
    
   
     
 
 }

.design_content {

  
    
    display: flex;
 
   
    align-items: center;
    justify-content: center;
    align-content: center;


   
}

.design_content_text{

    display: flex;
    align-items: center;

    font-size: 16px;
    background: none;
    padding-left: 0.1rem;
    padding-right: 0;
    transition: var(--transition);
    color:var(--color-light)
  
   
}

.design_content_text:hover{

  
   
   color:var(--color-black);
   font-weight: 600;
  
   
}



.design_content_icon{
    font-size: 1rem;
    padding: 0;
 
 

 

}

}

   


  


  

