
header{
  position: fixed; 
  overflow: visible;
  top: 0;
  z-index:2;
  background-color:rgb(255, 255, 255,0.5);
  height:50px;
  width:100%;
  box-shadow:2px 10px 9px 2px rgba(0,0,0,0.15);
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  }

  /* .Name_content{

    display: flex;
    flex-direction: column;
  } */

 
.company_name1{
    position : absolute;
    display: flex;
    /* gap:0; */
    left:15px;
    font-size: 2rem;
    align-items: center;
    /* margin-top: px; */
    /* margin-left: 15px; */
    /* padding-bottom: 5px; */
    /* margin-top: 10px; */

   }

   .tagline2{

    font-size: 1.2rem;
    margin-top: -30px;
    font-family: 'Mrs Saint Delafield';
    margin-left: 15px;
    color:#69696e

   }

   .Abode{

    height:min-content;

   }
  
  
.The {

  font-family: 'Mrs Saint Delafield';
  font-size: 2 rem;
  width:min-content;
  padding-right: 8px;
  align-self: center;
  margin-top: 12.5px;
  color:#71717A;
  height:min-content;
}
 

   nav {
    width:100%;
   
   


   }



   .Navbar .Navigation {
        
    display: none;
  
   }


   .Navbar .MobileNavigation {
   
   
    display: grid;
   
      align-items: center;
     
    height :100px;
    width:100%;
  
   } 

  
    
   .Navbar .MobileNavigation .Hamburger {
    
    position: absolute;
    font-size :30px;
    color:gray;
    right:10px;
    width:min-content;
   
  
    padding-right: 10px;


   }

   .Navbar .MobileNavigation .Close {
     
    position: absolute;
    font-size :30px;
    color:gray;
    
    padding-right: 10px;
    width:min-content;
    right:10px;

   }



   





   /*======== MEDIA QUERIES =======*/


     
  @media  screen and (min-width:600px) {

    header {
      overflow: visible;
      height:80px;
      font-size: 16px;
  
      }
  
     .container {
      width: var (--container-width-sm);
    }
  
    section {
      margin-top:2.5rem;
    }
  }
  
   @media screen and (min-width:992px){

    header {
    overflow: visible;
    font-size: 20px;

    }

    .nav {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      top:0;
      right:10px;
  
      /* padding-right: 10px; */
      width: min-content;

     }
  
    .Navbar .Navigation {
        
      display: block;
       /* width:min-content; 
       float: right; 
      margin-right: 10px; } */

    }
     
    
     


     .Navbar-items {
      display: flex;
      list-style: none;
      margin : 0;
      padding :0
    }

    
  
  
    .Navbar-items li {
      display:inline;
      /* margin:20px; */
      padding: 21px 30px;
      
      font-size:1.2rem;
      color:var(--color--black);
      align-items: center;
      /* background: rgb(196, 192, 192,0.2) ; */
     
   
      transition: var(--transition);
      }
  
  
  
      #anchor{
        color:var(--color--black);
      }
  
      .Navbar-items li:hover{
     
      color: var(--color-black);
      border-bottom: solid 3px rgb(215, 205, 181);
      font-size:1.2rem;
      /* background: rgb(196, 192, 192,0.2) ; */
      align-items:none;
      cursor: pointer;
      
     }

     .Navbar .MobileNavigation {
      display: none; } 

    

    





    }



   
