#testimonial{
height:fit-content;

}


.container.container_testimonial{

  
   
    /* padding-top:4rem;  */
    width:100%;
    overflow: hidden;
    /* height:100%; */
  

}

.section-wrapper{

  background-color: white;
  /* height:100vh; */
}

.image-wrapper{
 
 
}

.testimonial_image{
 
  
  object-fit: cover;
  border-radius: 50%;
  /* height:60%; */
  width:80%;
  /* background-color: red; */
  box-shadow:10px 10px 25px 0px rgba(175, 171, 171, 0.44); 
 
  
  margin:0 auto;
  margin-top: 30px;

}



.testimonial_text{

   margin-top:30px;
   /* margin-left: 50%;
   margin-right: 50%; */
   text-align: center;
   /* margin-right:15rem ; */
    
    background: white;
   
    /* position:absolute; */
    /* opacity: 0.6; */
    /* padding:1rem; */
    /* z-index: -1; */
   
}

.testimonial_content{
  display: flex;
}

.big_quotes1 {
  /* display:inline-block; */
   /* background-color:#cfc;  */
   font-size:50px;
   color:rgb(86, 84, 84);
   justify-self: start;
   align-self: flex-start;
   

  
}

.big_quotes2 {
  /* display:inline-block; */
   /* background-color:#cfc;  */
   font-size:50px;
   color:rgb(64, 61, 61)
   

  
}

  /*======== MEDIA QUERIES =======*/
  
  @media screen and (min-width:600px){
  
    .container.container_testimonial { 
        
       
  margin-top: 2rem;
width:var( --container-width-md)} 

/* .title_design_block{

   padding-top: 3rem;

    
} */

.section-wrapper {
 
  margin-top: 120px;

}

.testimonial_image{width:70%}

.testimonial_text{

    /* padding:2rem;
    width:25rem; */
}

   


  }


  
  @media  screen and (min-width:992px) {

/* 
    #Testimonial{
      
     
  
    
  } */
  
    .container.container.container_testimonial { 
        
       
        margin-top: 4rem;
width:95%} 


.testimonial_text{

    /* margin-top:-30%; */
   
    
 }

 .testimonial_image{
 
  
  object-fit: cover;
  border-radius: 50%;
  /* height:60%; */
  width:35%;
  /* background-color: red; */
  box-shadow:10px 10px 25px 0px rgba(175, 171, 171, 0.44); 
 
  
  margin:0 auto;
  margin-top: 30px;

}

 
  }